	<!DOCTYPE html>
	<html>
	<head>
		<title>Lifeinvader</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/lifeInvaderProfile.css">
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'timeline' %}">Home</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'show_profile' %}" method='post'>My profile</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="./lifeInvaderLogin.html">Logout</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- colunas da timeline! -->
			<div class="col-lg-3">
				<div class="box">
					<h3>Looking for someone or something?</h3>
					<hr>
					<button class="btn btn-large peopleButton" data-toggle="collapse" data-target="#people">Friends</button>
					<div id="people" class="collapse">
						{% for id, name, pic in friends %}
						<div class="people">
							<p><span><a href="{% url 'visit_profile' id %}"><img src="/static/{{pic}}" class="img-thumbnail thumb"></a></span> {{name}}</p>
						</div>
						{% endfor %}
					</div>
					<hr>
					<button class="btn btn-large peopleButton" data-toggle="collapse" data-target="#groups">Groups</button>
					<div id="groups" class="collapse">
						{% for id, name, pic in groups %}
						<div class="people">
							<p><span><a href="{% url 'visit_group' id %}" ><img src="/static/{{pic}}" class="img-thumbnail thumb"></a></span> {{name}}</p>
						</div>
						{% endfor %}
						<div class="people">
							{% if who == 'self' %}
							<a href="{% url 'group_manager' %}"><button class="btn btn-large peopleButton">Manage Groups</button></a>
							{% endif %}
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="box">
						<p class="info"><span class="img"><img src="/static/{{pic}}" class="img-thumbnail thumb"></span>{{name}}</p>
						<hr>
						<p class="info">Nome: {{name}}</p>
						<p class="info">Endereço de email: {{email}}</p>
						<hr>
						{% if who == 'self' %}
							<a href="./lifeInvaderProfileEditor.html"><button class="btn btn-large peopleButton">Edit informations</button></a>
						{% else %}
							{% if status == 'friends' %}
								<a href="./lifeInvaderProfileEditor.html"><button class="btn btn-large peopleButton">Remover amigo</button></a>
							{% else %}
								<a href="./lifeInvaderProfileEditor.html"><button class="btn btn-large peopleButton">Adicionar amigo</button></a>
							{% endif %}
							<hr>
							<a href="./lifeInvaderProfileEditor.html"><button class="btn btn-large peopleButton">Bloquear usuário</button></a>
						{% endif %}

					</div>
				</div>

				<div class="row">
					<div class="col"> <!-- Start posts -->
						<div class="row"> <!-- start post 1 -->
							{% for id, name, pic, content, image in posts %}
							<div class="col">
								<div class="centerBox">
									<div>
										<p><span><a href="{% url 'visit_profile' id %}" ><img src="/static/{{pic}}" class="img-thumbnail thumb"></a></span>  {{name}}:</p>
										<h5>{{ content }}</h5>
									</div>
								</div>
							</div>
							{% endfor %}
						</div> <!-- end post 1 -->
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				{% if who == 'self' %}
				<div class="box">
					<h3>Notifications</h3>
					<div id="people2" class="collapse">
						<div class="people">
							<p><span><a href="" ><img src="https://www.vccircle.com/wp-content/uploads/2017/03/default-profile.png" class="img-thumbnail thumb"></a></span> fulano</p>
						</div>
					</div>
					<hr>
				</div>
				{% endif %}
			</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap.js"></script>
	</body>
	</html>
