<!DOCTYPE html>
<html>
<head>
	<title>Lifeinvader</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/lifeInvaderHome.css">
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
</head>
<body>
	<div class="section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>LifeInvader</h1>
					<h3>Your life from a new perspective</h3>
					<a href="{% url 'login'  %}"><button type="submit" class="btn btn-lg btnHome">Get Started!</button></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
