<!DOCTYPE html>
<html>
<head>
	<title>Lifeinvader</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/lifeInvaderSucess.css">
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
</head>
<body>
	<div class="section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<h1>Congratulations {{ name }}!</h1>
					<h3>Your are now part of the LifeInvader community!</h3>
					<a href="lifeInvaderLogin.html"><button type="submit" class="btn btn-lg btnHome">Check your profile!</button></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
