	<!DOCTYPE html>
	<html>
	<head>
		<title>LifeInvader</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/lifeInvaderProfileGroups.css">
		<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!-- navbar -->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{% url 'timeline' %}">Lifeinvader</a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'show_profile' %}">My profile</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="./lifeInvaderLogin.html">Logout</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<!-- colunas da timeline! -->
			<h1>Group Management</h1>
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
				<div class="row">
					<div class="box">
						<h2>My Groups</h2>
						<hr>
						{% for id, name, rl, pic in groups %}
						<div>
							<h3><span class="img"><img src="/static/{{pic}}" class="img-thumbnail thumb"></span>{{name}}<button class="btn btn-large peopleButton">Leave Group</button></h3>
						</div>
						<hr>
						{% endfor %}
					</div>
				</div>
				<div class="row">
					<div class="box">
						<h2>Groups I'm not a member</h2>
						<hr>
						{% for id, name, rl, pic in nmgroups %}
						<div>
							<h3><span class="img"><img src="/static/{{pic}}" class="img-thumbnail thumb"></span>{{name}} <button class="btn btn-large peopleButton">Request Invite</button></h3>
						</div>
						<hr>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-lg-3">
			</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap.js"></script>
	</body>
	</html>
