<!DOCTYPE html>
<html>
<head>
	<title>Lifeinvader</title>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/lifeInvaderSignup.css">
	<link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
</head>
<body>
				<!-- navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'start_page'  %}">Lifeinvader</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'login'  %}">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
				<!-- Formulário -->
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 formulario">
			<h1>Welcome to our family!</h1>
			<div class="container">
				<div class="box">
					<h2>We just need to know a little about you:</h2>
					<form action="{% url 'success' %}" method='post'>
						<div class="form-group">
							<label for="userName" class="labelName">Your name:</label>
							<input type="name" class="form-control" name='uname' id="userName" placeholder="Your name" required>
						</div>
						<div class="form-group">
							<label for="userEmail" class="labelEmail">Email:</label>
							<input type="email" class="form-control" name='uemail' id="userEmail" placeholder="Your email" required>
						</div>
						<div class="form-group">
							<label for="userPassword" class="labelPassword">Password:</label>
							<input type="password" class="form-control" name='upassword' id="userPassword" placeholder="Your password" required>
						</div>
						<div class="form-group">
							<label for="userPassword" class="labelPassword">Profile picture:</label>
							<input type="file" name="pic" accept="image/*" class="form-control" placeholder="Your profile picture">
						</div>
							<label class="labelPassword">{{ msg }}</label><br>
						<a><button type="submit" class="btn btn-large submitButton">Submit</button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
